.page-layout {
  --size-s: 1rem;
  --size-m: 3rem;
  --small-padding: var(--size-s) var(--size-s);
  --medium-padding: var(--size-s) var(--size-m);
  --loader-height: 6px;
}

.page-layout .marvelous-header {
  padding: var(--small-padding);
}

.page-layout .loader-container {
  min-height: var(--loader-height);
}

@media (min-width: 768px) {
  .page-layout .marvelous-header {
    padding: var(--medium-padding);
  }
}
