.loader {
  width: 100%;
  height: 6px;
  background: linear-gradient(var(--red) 0 0) 0/0% no-repeat var(--white);
  animation: loading 1s infinite linear;
}

@keyframes loading {
  100% {
    background-size: 100%;
  }
}
