.character-detail-card {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.character-detail-card img {
  --image-height: 389px;
  height: var(--image-height);
  object-fit: cover;
}

.character-detail-card__info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1.6rem 1rem;
}

.character-detail-card__info-header {
  display: flex;
  align-items: center;
}

.character-detail-card__info-header h2 {
  color: var(--white);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  flex-basis: auto;
  font-size: 2rem;
  font-weight: 700;
  margin: 0 auto 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 37.5px;
}

.character-detail-card__info-header .like-button {
  margin-left: 1rem;
}

.character-detail-card__info-description {
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
  margin: 1.6rem 0 0 0;
}

.character-detail-card__corner {
  border-color: transparent transparent var(--white) transparent;
  border-style: solid;
  border-width: 0 0px 24px 24px;
  bottom: 0;
  height: 0px;
  position: absolute;
  right: 0;
  width: 0px;
}
