.search-bar {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  /* Avoids resizing when results are hidden */
  min-height: 92px;
  padding: 1rem;
  width: 100%;
}

.search-bar__input {
  align-items: center;
  border-bottom: 1px solid var(--black);
  display: flex;
  flex-direction: row;
  padding-bottom: 12px;
}

.search-bar__input img {
  height: 12px;
  margin-right: 5px;
  width: 12px;
}

.search-bar__input input {
  border: none;
  flex-grow: 1;
  font-size: var(--font-size);
  outline: none;
  text-transform: uppercase;
}

.search-bar__input input::placeholder {
  color: var(--gray);
}

.search-bar__results {
  color: var(--black);
  display: flex;
  font-size: 75%;
  padding-top: 12px;
  text-transform: uppercase;
}
